<MarketplaceDetails>
  <SmallAppTile>Marketplace_99.png</SmallAppTile>
  <LargeAppTile>Marketplace_173.png</LargeAppTile>
  <PCAppTile>Marketplace_200.png</PCAppTile>
  <ScreenShots>Ecran6.png;Ecran1.png;Ecran2.png;Ecran3.png;Ecran4.png;Ecran5.png;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>